.info-box {
  padding: 45px 25px;
  margin: 0 15px 25px 15px;
  position: relative;
  border: 1px solid #C7C7C7;
}
.info-box-image {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-image: url("app/images/background/mid_home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
  filter: opacity(60%);
}

.row-division {
  margin-top: 25px;
}
.shelf {
  position: relative;
  cursor: pointer;
}
@media(max-width: 768px) {
  .shelf {margin-bottom: 25px;}
}
.shelf:hover {
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 5px 5px 20px #888888;
}
h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.shelf-big img{
  width: 100%;
  max-height: none;
}

.jetzt-ansehen {
  visibility: hidden;

  font-size: 20px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  text-align: center;
}
