.table td {
  position: relative;
}
.set-measurments input{
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0;
  font-size: 20px;
  width: 80px;
  display: inline-block;
}
.per-segment {
  font-style: italic;
  margin-left: 15px;
}
.first-td {
  width: 15%;
}
.second-td {
  width: 85%;
}
