<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3>Kontakt</h3>
    <address>
      Franklinstraße 8<br />
      10587 Berlin<br />
      0172 5252531<br />
      (030) 55 24 40 31<br />
      info@moebel-restaurierung.com<br />
    </address>
  </div>
  <div class="col-xs-12 col-sm-6">
    <img src="app/images/contact.jpg"
      alt="Artur Drozd vor Regal im Antik-Möbellager" class="img-responsive contact-image"/>
  </div>
</div>
<div class="">
  <img src="app/images/map3.png" alt="map" />
</div>
