<h2>Fast fertig!</h2>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <p>Hinterlassen Sie Ihre Kontaktinformationen und wir werden in Kürze mit Ihnen in Kontakt treten.</p>

    <form method="POST" action="mail.php" (ngSubmit)="onSubmit()" #tkdForm="ngForm">
      <div class="input-group">
        <span class="input-group-addon" id="mail-input">@</span>
        <input name="mail" [(ngModel)]="message.mail" #tkdForm.mail="ngModel"
          type="email" class="form-control" placeholder="E-Mail*"
          aria-describedby="mail-input" #spy required> <!--#inputMail="ngModel"-->
        <!--span [hidden]="inputMail.valid || inputMail.pristine" class="alert-simple alert-contact">X</span>
        <span [hidden]="inputMail.invalid" class="tick tick-contact"><i class="fa fa-check" aria-hidden="true"></i></span-->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="phone-input"><i class="fa fa-phone" aria-hidden="true"></i></span>
        <input name="phone" [(ngModel)]="message.phone" #tkdForm.phone="ngModel"  type="tel"
          class="form-control" placeholder="Telefon" aria-describedby="phone-input">
      </div>
      <textarea name="message" [(ngModel)]="message.message" #tkdForm.message="ngModel"
        id="message" class="input-lg" placeholder="Optionale Nachricht"></textarea>
      <div class="btn-group-right">
        <div [class.inactive]="!tkdForm.form.valid">
          <button type="submit" class="btn btn-default">Anfragen</button>
        </div>
      </div>
    </form>

    <p>Die Anfrage ist völlig unverbindlich.</p>
  </div>

  <!-- Endtabelle -->
  <div class="col-xs-12 col-sm-6">
    <p><strong>{{shelf.name}}</strong></p>
    <table class="table">
      <tr>
        <td>Aufbau:</td>
        <td>{{shelf.parts}}-teilig</td>
      </tr>
      <tr>
        <td>Holz:</td>
        <td>{{shelf.wood}}</td>
      </tr>
      <tr *ngIf="shelf.wood !== 'erle'">
        <td>Farbe:</td>
        <td>{{shelf.color}}</td>
      </tr>
      <tr *ngIf="shelf.wood == 'erle'">
        <td>Gebeizt auf:</td>
        <td>{{shelf.stain}}</td>
      </tr>
      <tr>
        <td>Kapitäle:</td>
        <td>{{shelf.deco}}</td>
      </tr>
      <tr>
        <td>Kranzleisten:</td>
        <td>{{shelf.ledge}}</td>
      </tr>
      <tr>
        <td>Breite:</td>
        <td>{{shelf.width}} cm</td>
      </tr>
      <tr>
        <td>Tiefe:</td>
        <td>{{shelf.depth}} cm</td>
      </tr>
      <tr>
        <td>Höhe:</td>
        <td>{{shelf.height}} cm</td>
      </tr>
    </table>
  </div>


</div>
<button type="button" class="btn btn-back" (click)="changeState(2)">Zurück</button>
