<div *ngIf="shelf">
  <div class="row">
    <div class="col-xs-12 col-sm-6 image-container">
      <img class="front-image" [src]="currentImagePath || shelf.imagePath " alt="Regal" />
      <div class="subnav subnav-images">
        <ul>
          <li [class.active]="activeImage === 1" (click)="changeImage(1)"></li>
          <li *ngIf="shelf.imagePath2" [class.active]="activeImage === 2" (click)="changeImage(2)"></li>
          <li *ngIf="shelf.imagePath3" [class.active]="activeImage === 3" (click)="changeImage(3)"></li>
          <li *ngIf="shelf.imagePath4" [class.active]="activeImage === 4" (click)="changeImage(4)"></li>
          <li *ngIf="shelf.imagePath5" [class.active]="activeImage === 5" (click)="changeImage(5)"></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 config-section">
      <h3>{{shelf.name}}</h3><span class="price">{{shelf.price}} €</span>
      <p>{{shelf.description}}</p>

      <div class="subnav">
        <ul>
          <li [class.active]="shelf.state === 1" (click)="changeState(1)"></li>
          <li [class.active]="shelf.state === 2" (click)="changeState(2)"></li>
          <li [class.active]="shelf.state === 3" (click)="changeState(3)"></li>
        </ul>
      </div>

      <div (click)="calcPrice()">
        <!-- Part 1 -->
        <div *ngIf="shelf.state === 1">
          <h2>Eigenschaften</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="configurator">
                <strong><p>Segmente:</p></strong>
                <ul class="parts">
                  <li [class.selected]="shelf.parts === 1" (click)="pickParts(1)"></li>
                  <li [class.selected]="shelf.parts === 2" (click)="pickParts(2)"></li>
                  <li [class.selected]="shelf.parts === 3" (click)="pickParts(3)"></li>
                  <li [class.selected]="shelf.parts === 4" (click)="pickParts(4)"></li>
                  <li (click)="showAddParts()" class="add"></li>
                  <input [ngClass]="toggleInputParts" #customParts (keyup)="addParts(customParts.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- pick color -->
              <div *ngIf="shelf.wood !== 'erle'" class="configurator">
                <strong><p>Farbe:</p></strong>
                <ul>
                  <li class="white" [class.selected]="shelf.color === 'signalweiss'" (click)="pickColor('signalweiss')"></li>
                  <li class="kastanienbraun" [class.selected]="shelf.color === 'kastanienbraun'" (click)="pickColor('kastanienbraun')"></li>
                  <li class="grasgruen" [class.selected]="shelf.color === 'grasgruen'" (click)="pickColor('grasgruen')"></li><br class="hidden-xs"/>
                  <li class="mahagonybraun" [class.selected]="shelf.color === 'mahagonybraun'" (click)="pickColor('mahagonybraun')"></li>
                  <li class="signalgelb" [class.selected]="shelf.color === 'signalgelb'" (click)="pickColor('signalgelb')"></li>
                  <li (click)="showAddColor()" class="add"></li>
                  <input [ngClass]="toggleInputColor" #customColor (keyup)="addColor(customColor.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- pick stain/beize if holz == erle -->
              <div *ngIf="shelf.wood == 'erle'" class="configurator">
                <strong><p>Gebeizt auf:</p></strong>
                <ul>
                  <li [class.selected]="shelf.stain === 'natur'" (click)="pickStain('natur')"></li>
                  <li [class.selected]="shelf.stain === 'kiefer'" (click)="pickStain('kiefer')"></li>
                  <li [class.selected]="shelf.stain === 'nussbaum'" (click)="pickStain('nussbaum')"></li><br class="hidden-xs"/>
                  <li [class.selected]="shelf.stain === 'eiche'" (click)="pickStain('eiche')"></li>
                  <li [class.selected]="shelf.stain === 'kirsche'" (click)="pickStain('kirsche')"></li>
                  <li (click)="showAddStain()" class="add"></li>
                  <input [ngClass]="toggleInputColor" #customStain (keyup)="addStain(customStain.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>


            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="configurator">
                <strong><p>Holz:</p></strong>
                <ul>
                  <li [class.selected]="shelf.wood === 'erle'" (click)="pickWood('erle')"></li>
                  <li [class.selected]="shelf.wood === 'kiefer'" (click)="pickWood('kiefer')"></li>
                  <li [class.selected]="shelf.wood === 'nussbaum'" (click)="pickWood('nussbaum')"></li><br class="hidden-xs"/>
                  <li [class.selected]="shelf.wood === 'eiche'" (click)="pickWood('eiche')"></li>
                  <li [class.selected]="shelf.wood === 'kirsche'" (click)="pickWood('kirsche')"></li>
                  <li (click)="showAddWood()" class="add"></li>
                  <input [ngClass]="toggleInputWood" #customWood (keyup)="addWood(customWood.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- ledge -->
              <div class="configurator">
                <strong><p>Vorderleisten:</p></strong>
                <ul>
                  <li [class.selected]="shelf.deco === 'deco a'" (click)="pickDeco('deco a')"></li>
                  <li [class.selected]="shelf.deco === 'deco b'" (click)="pickDeco('deco b')"></li>
                  <li (click)="showAddDeco()" class="add"></li>
                  <input [ngClass]="toggleInputDeco" #customDeco (keyup)="addDeco(customDeco.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <div class="configurator">
                <strong><p>Kranzleisten:</p></strong>
                <ul>
                  <li [class.selected]="shelf.ledge === 'ledge a'" (click)="pickLedge('ledge a')"></li>
                  <li [class.selected]="shelf.ledge === 'ledge b'" (click)="pickLedge('ledge b')"></li>
                  <li (click)="showAddLedge()" class="add"></li>
                  <input [ngClass]="toggleInputDeco" #customLedge (keyup)="addLedge(customLedge.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>
            </div>
          </div>

          <div class="btn-group-right"><button type="button" class="btn btn-default" (click)="changeState(2)">Weiter</button></div>

        </div>

        <!-- Part 2 -->
        <div *ngIf="shelf.state === 2">
          <size-form [shelf]="shelf"></size-form>
          <button type="button" class="btn btn-back" (click)="changeState(1)">Zurück</button>
          <div class="btn-group-right"><button type="button" class="btn btn-default" (click)="changeState(3)">Weiter</button></div>
        </div>
      </div>

      <!-- Part 3 -->
      <div *ngIf="shelf.state === 3">
        <mail [shelf]="shelf"></mail>
      </div>
    </div>
  </div>
</div>
