<div *ngIf="shelf" onload="calcPrice();">
  <div class="row">
    <div class="col-xs-12 col-sm-6 image-container">
      <img class="front-image" [src]="currentImagePath || shelf.imagePath " alt="Regal" />
      <div class="subnav subnav-images">
        <ul>
          <li [class.active]="activeImage === '1'" (click)="changeImage('1')"></li>
          <li *ngIf="shelf.imagePath2" [class.active]="activeImage === '2'" (click)="changeImage('2')"></li>
          <li *ngIf="shelf.imagePath3" [class.active]="activeImage === '3'" (click)="changeImage('3')"></li>
          <li *ngIf="shelf.imagePath4" [class.active]="activeImage === '4'" (click)="changeImage('4')"></li>
          <li *ngIf="shelf.imagePath5" [class.active]="activeImage === '5'" (click)="changeImage('5')"></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 config-section">
      <h3>{{shelf.name}}</h3><span class="price">{{shelf.price}} €</span>
      <p>{{shelf.description}}</p>

      <div class="subnav">
        <ul>
          <li [class.active]="shelf.state === 1" (click)="changeState(1)"></li>
          <li [class.active]="shelf.state === 2" (click)="changeState(2)"></li>
          <li [class.active]="shelf.state === 3" (click)="changeState(3)"></li>
        </ul>
      </div>

      <div (click)="calcPrice()">
        <!-- Part 1 -->
        <div *ngIf="shelf.state === 1">
          <h2>Eigenschaften</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="configurator">
                <strong><p>Segmente:</p></strong>
                <ul class="parts">
                  <li [class.selected]="shelf.parts === 1" (click)="pickParts(1)"></li>
                  <li [class.selected]="shelf.parts === 2" (click)="pickParts(2)"></li>
                  <li [class.selected]="shelf.parts === 3" (click)="pickParts(3)"></li>
                  <li [class.selected]="shelf.parts === 4" (click)="pickParts(4)"></li>
                  <li (click)="showAddParts()" class="add"></li>
                  <input [ngClass]="toggleInputParts" #customParts (keyup)="addParts(customParts.value)" type="number" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- pick color -->
              <div *ngIf="shelf.wood !== 'erle'" class="configurator">
                <strong><p>Farbe:</p></strong>
                <ul class="round">
                  <li [class.selected]="shelf.color === null" (click)="pickColor(null)" class="no-pick tooltip"><span class="tooltiptext">Keine</span></li>
                  <li [class.selected]="shelf.color === 'signalweiss'" (click)="pickColor('signalweiss')" class="white tooltip"><span class="tooltiptext">Signalweiß</span></li>
                  <li [class.selected]="shelf.color === 'kastanienbraun'" (click)="pickColor('kastanienbraun')" class="kastanienbraun tooltip"><span class="tooltiptext">Kastanienbraun</span></li>
                  <br class="hidden-xs" />
                  <li [class.selected]="shelf.color === 'grasgruen'" (click)="pickColor('grasgruen')" class="grasgruen tooltip"><span class="tooltiptext">Grasgrün</span></li>
                  <li [class.selected]="shelf.color === 'signalgelb'" (click)="pickColor('signalgelb')" class="signalgelb tooltip"><span class="tooltiptext">Signalgelb</span></li>
                  <li (click)="showAddColor()" class="add"></li>
                  <input [ngClass]="toggleInputColor" #customColor (keyup)="addColor(customColor.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- pick stain/beize if holz == erle -->
              <div *ngIf="shelf.wood == 'erle'" class="configurator">
                <strong><p>Gebeizt auf:</p></strong>
                <ul class="round">
                  <li [class.selected]="shelf.stain === 'natur'" (click)="pickStain('natur')" (mouseenter)="changeImage('erle-large')" (mouseleave)="changeImage(this.srcBackup)" class="erle tooltip"><span class="tooltiptext">Erle</span></li>
                  <li [class.selected]="shelf.stain === 'kiefer'" (click)="pickStain('kiefer')" (mouseenter)="changeImage('kiefer-large')" (mouseleave)="changeImage(this.srcBackup)" class="kiefer tooltip"><span class="tooltiptext">Kiefer</span></li>
                  <li [class.selected]="shelf.stain === 'buche'" (click)="pickStain('buche')" (mouseenter)="changeImage('buche-large')" (mouseleave)="changeImage(this.srcBackup)" class="buche tooltip"><span class="tooltiptext">Buche</span></li>
                  <br class="hidden-xs"/>
                  <li [class.selected]="shelf.stain === 'eiche'" (click)="pickStain('eiche')" (mouseenter)="changeImage('eiche-large')" (mouseleave)="changeImage(this.srcBackup)" class="eiche tooltip"><span class="tooltiptext">Eiche</span></li>
                  <li [class.selected]="shelf.stain === 'kirsche'" (click)="pickStain('kirsche')" (mouseenter)="changeImage('kirsche-large')" (mouseleave)="changeImage(this.srcBackup)" class="kirsche tooltip"><span class="tooltiptext">Kirsche</span></li>
                  <li (click)="showAddStain()" class="add"></li>
                  <input [ngClass]="toggleInputStain" #customStain (keyup)="addStain(customStain.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- sacleff schublade -->
              <div *ngIf="shelf.id == 2">
                <strong><p>Schubladen (1 - 4):</p></strong>
                <input type="number" min="1" max="4" [(ngModel)]="shelf.drawer">
              </div>

              <!-- leonora schubladen -->
              <div *ngIf="shelf.id == 6">
                <strong><p>Schubladen (1 pro Segment):</p></strong>
                <input type="number" min="1" max="4" [(ngModel)]="shelf.leoDrawers" (keyup)="calcPrice()">
              </div>

              <!-- leonora schiebetüren -->
              <div *ngIf="shelf.id == 6">
                <strong><p>Schiebetüren (1 pro Segment):</p></strong>
                <input type="number" min="1" max="4" [(ngModel)]="shelf.slidingDoor" (keyup)="calcPrice()">
              </div>

            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="configurator">
                <strong><p>Holz:</p></strong>
                <ul class="round">
                  <li [class.selected]="shelf.wood === 'erle'" (click)="pickWood('erle')" (mouseenter)="changeImage('erle-large')" (mouseleave)="changeImage(this.srcBackup)" class="erle tooltip"><span class="tooltiptext">Erle</span></li>
                  <li [class.selected]="shelf.wood === 'kiefer'" (click)="pickWood('kiefer')" (mouseenter)="changeImage('kiefer-large')" (mouseleave)="changeImage(this.srcBackup)" class="kiefer tooltip"><span class="tooltiptext">Kiefer</span></li>
                  <li [class.selected]="shelf.wood === 'buche'" (click)="pickWood('buche')"(mouseenter)="changeImage('buche-large')" (mouseleave)="changeImage(this.srcBackup)" class="buche tooltip"><span class="tooltiptext">Buche</span></li>
                  <br class="hidden-xs"/>
                  <li [class.selected]="shelf.wood === 'eiche'" (click)="pickWood('eiche')" (mouseenter)="changeImage('eiche-large')" (mouseleave)="changeImage(this.srcBackup)" class="eiche tooltip"><span class="tooltiptext">Eiche</span></li>
                  <li [class.selected]="shelf.wood === 'kirsche'" (click)="pickWood('kirsche')" (mouseenter)="changeImage('kirsche-large')" (mouseleave)="changeImage(this.srcBackup)" class="kirsche tooltip"><span class="tooltiptext">Kirsche</span></li>
                  <li (click)="showAddWood()" class="add"></li>
                  <input [ngClass]="toggleInputWood" #customWood (keyup)="addWood(customWood.value)" type="text" class="form-control" placeholder="Ihr Wunsch">
                </ul>
              </div>

              <!-- ledge -->
              <div *ngIf="shelf.id != 5 && shelf.id != 6" class="configurator">
                <strong><p>Vorderleisten:</p></strong>
                <ul>
                  <li [class.selected]="shelf.deco === null" (click)="pickDeco(null)" class="no-pick tooltip"><span class="tooltiptext">Keine</span></li>
                  <li [class.selected]="shelf.deco === 'deco a'" (click)="pickDeco('deco a')" (mouseenter)="changeImage('front1')" (mouseleave)="changeImage(this.srcBackup)"  class="front1"></li>
                  <li [class.selected]="shelf.deco === 'deco b'" (click)="pickDeco('deco b')" (mouseenter)="changeImage('front2')" (mouseleave)="changeImage(this.srcBackup)" class="front2"></li>
                </ul>
              </div>

              <div *ngIf="shelf.id != 5 && shelf.id != 6" class="configurator">
                <strong><p>Kranzleisten:</p></strong>
                <ul>
                  <li [class.selected]="shelf.ledge === null" (click)="pickLedge(null)" class="no-pick tooltip"><span class="tooltiptext">Keine</span></li>
                  <li [class.selected]="shelf.ledge === 'ledge a'" (click)="pickLedge('ledge a')" (mouseenter)="changeImage('top1')" (mouseleave)="changeImage(this.srcBackup)"  class="top1"></li>
                  <li [class.selected]="shelf.ledge === 'ledge b'" (click)="pickLedge('ledge b')" (mouseenter)="changeImage('top2')" (mouseleave)="changeImage(this.srcBackup)"  class="top2"></li>
                </ul>
              </div>

              <!-- oberflächenbehandlung -->
              <div *ngIf="shelf.color == null" class="configurator">
                <strong><p>Oberflächenbehandlung:</p></strong>
                <ul>
                  <li [class.selected]="shelf.surface === 'geölt + gewachst'" (click)="pickSurface('geölt + gewachst')" (mouseenter)="changeImage('top1')" (mouseleave)="changeImage(this.srcBackup)"  class="top1"></li>
                  <li [class.selected]="shelf.surface === 'gebeizt + lackiert'" (click)="pickSurface('gebeizt + lackiert')" (mouseenter)="changeImage('top2')" (mouseleave)="changeImage(this.srcBackup)"  class="top2"></li>
                  <li [class.selected]="shelf.surface === 'transparent + lackiert'" (click)="pickSurface('transparent + lackiert')" (mouseenter)="changeImage('top2')" (mouseleave)="changeImage(this.srcBackup)"  class="top2"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="btn-group-right"><button type="button" class="btn btn-default" (click)="changeState(2)">Weiter</button></div>

        </div>

        <!-- Part 2 -->
        <div *ngIf="shelf.state === 2">
          <size-form [shelf]="shelf"></size-form>
          <button type="button" class="btn btn-back" (click)="changeState(1)">Zurück</button>
          <div class="btn-group-right"><button type="button" class="btn btn-default" (click)="changeState(3)">Weiter</button></div>
        </div>
      </div>

      <!-- Part 3 -->
      <div *ngIf="shelf.state === 3">
        <mail [shelf]="shelf"></mail>
        <button type="button" class="btn btn-back" (click)="changeState(2)">Zurück</button>
      </div>
    </div>
  </div>
</div>
